@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,400;1,700&family=Oswald:wght@300;400;500;700&display=swap");

::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0 auto;
  padding: 0;
  scrollbar-width: none;
  font-family: "Nunito", sans-serif;

  /* border: 1px solid red; */
}
p {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: italic;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
body {
  /* border: 1px solid red; */
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(rgb(12, 14, 14), rgb(23, 20, 30), rgb(32, 24, 45), rgb(40, 27, 61), rgb(48, 31, 78));
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.125rem;
}
header {
  z-index: 1;
  top: 0;
  left: 0%;
  position: fixed;
  min-width: 100%;
}
.navbar {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  display: flex;
  max-width: 100%;
  background-color: #6c63ff;
  /* border: 2px solid rgb(13, 202, 13); */
  height: 75px;
}
.navbar .logo {
  cursor: pointer;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  left: 20px;
  text-align: center;
  position: relative;
  font-size: 1.75rem;
  line-height: 140%;
  width: 8.25rem;
}
.navbar .logo:hover {
  text-shadow: 0 0 15px rgb(192 219 255 / 75%), 0 0 16px rgb(65 120 255 / 10%);
}
.menu {
  width: 25rem;
}
.menu ul {
  align-items: center;
  place-content: center;
  list-style: none;
  display: flex;
}
/*  */
#item {
  cursor: pointer;
  text-shadow: 0 0 5px rgb(192 219 255 / 75%), 0 0 6px rgb(65 120 255 / 10%);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.4s ease;
  color: white;
}

#item:hover {
  box-shadow: 0 0 12px 4px #6c63ff;
  background-color: white;
  color: #6c63ff;
  border-radius: 10px;
}
/* .menu a {
 
}
.menu a:hover {
  box-shadow: 0 0 12px 4px #6c63ff;
  background-color: white;
  color: #6c63ff;
  border-radius: 10px;
} */
.navbar li {
  position: static;
  letter-spacing: -0.031rem;
  text-align: center;
}
.navbar .login {
  cursor: pointer;
  background-color: #6c63ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  text-align: center;
  width: 9.8125rem;
  transition: all 0.4s ease;
  border-radius: 0.5rem;
}
.navbar .login:hover {
  box-shadow: 0 0 12px 4px #6c63ff;
  background-color: white;
  color: #6c63ff;
  border-radius: 0.5rem;
}
/** --------------------------------------------------------------**/
/**               HERO SECTION STARTS HERE                       **/
/** ------------------------------------------------------------**/

.hero {
  box-sizing: border-box;
  position: relative;
  top: 7vh;
  max-width: 100%;
  height: 37.5rem;
}

#hero-slogan {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/1920wave.SVG");
  height: 55rem;
  place-content: space-evenly;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
}
.btn-hero {
  margin: 0;
  display: flex;
  align-items: center;
  place-content: center;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  background-color: #6c63ff;
  width: 204px;
  height: 58px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn-hero:hover {
  box-shadow: 0 0 12px 4px #6c63ff;
  background-color: white;
  color: #6c63ff;
  border-radius: 0.5rem;
}

.slogan h1 {
  text-shadow: 0 0 15px rgb(192 219 255 / 75%), 0 0 16px rgb(65 120 255 / 10%);
  margin: 0;
  font-size: 70px;
}
.slogan {
  position: relative;
  top: 150px;
  padding-left: 40px;
  text-align: left;
}
.slogan p {
  margin: 0;
  width: 60%;
  line-height: 1.875rem;
  text-align: left;
}
.working {
  position: relative;
  top: 150px;
  width: 30%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/programming.SVG");
}
/** --------------------------------------------------------------**/
/**               SERVICES SECTION STARTS HERE                   **/
/** ------------------------------------------------------------**/
#service-title {
  margin-top: 15.5%;
  max-width: 100%;
}

#service-container {
  margin-bottom: 50px;
  color: white;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}

.programmer {
  width: 22vw;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
  background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/developer.SVG");
}
#service-container h1 {
  text-shadow: 0 0 15px rgb(192 219 255 / 75%), 0 0 16px rgb(65 120 255 / 10%) !important;
}
.services {
  flex-wrap: wrap;
  align-items: center;
  place-content: space-evenly;
  display: flex;
  min-height: 35vh;
  margin: auto;
  width: 70%;
}
#service-1 {
  border-radius: 0.5rem;
  margin: 20px;
  height: 300px;
  width: 384px;
  background-color: #19191b70;
}

#service-2 {
  border-radius: 0.5rem;
  margin: 20px;
  height: 300px;
  width: 384px;
  background-color: #19191b70;
}
#service-3 {
  border-radius: 0.5rem;
  margin: 20px;
  height: 300px;
  width: 384px;
  background-color: #19191b70;
}
.service-info {
  color: white;
  flex-direction: column;
  place-content: center;
  align-items: center;
  display: flex;
}
.service-info img,
h2,
p {
  padding: 5px;
}
.service-info p {
  letter-spacing: -0.500211px;
  line-height: 1.75rem;
  width: 80%;
  text-align: center;
}
.services h2 {
  text-shadow: 0 0 15px rgba(104, 96, 255, 0.75), 0 0 6px rgb(65 120 255 / 10%);
}
.services p {
  opacity: 0.7;
  font-family: "Oswald" sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
}
/** --------------------------------------------------------------**/
/**              CATCH SECTION STARTS HERE                       **/
/** ------------------------------------------------------------**/

.catch-container {
  max-width: 100%;
}
#catch-wrapper {
  margin-bottom: 10%;
  color: white;
  margin-top: 10%;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
  min-height: 32rem;
}
.catch-text {
  max-width: 30%;
}
#catch-wrapper p {
  min-width: 80%;

  line-height: 1.75rem;
  margin-left: 0;
}
.catch-text h1 {
  text-shadow: 0 0 15px rgb(192 219 255 / 75%), 0 0 16px rgb(65 120 255 / 10%);
  min-width: 100%;
}
.img-container {
  width: 35%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/review-code.SVG");
}
/** --------------------------------------------------------------**/
/**              CONTACT SECTION STARTS HERE                     **/
/** ------------------------------------------------------------**/
.contact-container {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/bottom-divider.SVG");
  padding-bottom: 150px;
}
.contact {
  position: relative;
  top: -100px;
  flex-wrap: wrap;
  flex-direction: column;
  color: #9fa0ff;
  align-items: center;
  place-content: space-around;
  display: flex;
  border-radius: 18px;
  background: #fff; /**#CCC9DC **/
  height: 25rem;
  width: 55%;
}
.contact-btn {
  color: white;
  position: relative;
  top: -50px;
  border-radius: 15px;
  align-items: center;
  place-content: center;
  display: flex;
  text-align: center;
  background-color: #6c63ff;
  width: 201px;
  height: 60px;
  transition: all 0.4s ease;
  cursor: pointer;
  border: 10px solid #fff;
}

.contact-btn:hover {
  box-shadow: 0 0 12px 4px #e5e9f1;
  background-color: #6c63ff;
  color: white;
  border-radius: 15px;
}

.contact-text {
  text-align: center;
  width: 75%;
}
/** --------------------------------------------------------------**/
/**               FOOTER SECTION STARTS HERE                     **/
/** ------------------------------------------------------------**/
footer {
  max-width: 100%;
}

.footer-container {
  background-color: #6c63ff;
  color: white;
  place-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  max-width: 100%;
  /* background-color: #ffffff; */
  /* border: 2px solid rgb(13, 202, 13); */
  height: 100px;
}

.logo-footer {
  margin: 10px;
  text-align: center;
  position: relative;
  font-size: 1.75rem;
  line-height: 140%;
  width: 8.25rem;
}
.footer-menu {
  margin-top: 10px;
  width: 25rem;
}

.footer-menu ul {
  align-items: center;
  place-content: center;
  list-style: none;
  display: flex;
}

.footer-menu li {
  position: static;
  letter-spacing: -0.031rem;
  text-align: center;
}

.copyright {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20rem;
}
.copyright h4 {
  font-size: 12px;
  font-family: "Nunito" sans-serif;
  font-weight: 400;
  font-style: italic;
}

/** --------------------------------------------------------------**/
/**              MEDIA QUEURIES START HERE                       **/
/** ------------------------------------------------------------**/
@media only screen and (max-width: 480px) {
  .navbar .login {
    display: none;
  }
  #hero-slogan {
    height: 45rem;
    flex-direction: column;
    background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/690wave.SVG");
  }
  .slogan {
    text-align: center;
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }
  .working {
    display: none;
  }
  #hero-slogan p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .btn-hero {
    margin: 20px auto;
  }
  #service-title {
    margin-top: 63%;
  }
  .programmer {
    width: 100%;
  }
  #catch-wrapper {
    width: 90%;
    flex-direction: column;
  }
  .catch-text {
    text-align: center;
    max-width: 100%;
  }
  #catch-wrapper p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .img-container {
    background-position: center;
    background-size: 400px;
    width: 100%;
  }
  .contact-container {
    margin-top: 20px;
  }
  .contact {
    margin-top: 130px;
    width: 85%;
  }
  .contact-text h1 {
    font-size: 2.5rem;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 690px) and (min-width: 480px) {
  .navbar .login {
    display: none;
  }
  #hero-slogan {
    height: 45rem;
    flex-direction: column;
    background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/690wave.SVG");
  }
  .slogan {
    text-align: center;
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }
  .working {
    display: none;
  }
  #hero-slogan p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .btn-hero {
    margin: 20px auto;
  }
  #service-title {
    margin-top: 53%;
  }
  .programmer {
    width: 100%;
  }
  #catch-wrapper {
    width: 90%;
    flex-direction: column;
  }
  .catch-text {
    text-align: center;
    max-width: 100%;
  }
  #catch-wrapper p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .img-container {
    background-position: center;
    background-size: 400px;
    width: 100%;
  }
  .contact-container {
    margin-top: 20px;
  }
  .contact {
    margin-top: 130px;
    width: 85%;
  }
  /* .contact-text h1 {
    font-size: 10rem;
  } */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 49.375rem) and (min-width: 690px) {
  #hero-slogan {
    flex-direction: column;
    height: 55rem;
    background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/1300wave.SVG");
  }
  .slogan {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .working {
    display: none;
  }
  #hero-slogan p {
    margin: 0 auto;
    text-align: center;
  }
  .btn-hero {
    margin: 20px auto;
  }
  #service-title {
    margin-top: 260px;
  }
  .programmer {
    width: 100%;
  }
  #catch-wrapper {
    flex-direction: column;
  }
  #catch-wrapper p {
    text-align: center;
    margin: 0 auto;
    width: 40%;
  }
  .catch-text {
    max-width: 100%;
  }
  .catch-text h1 {
    text-align: center;
  }
  .img-container {
    background-position: center;
    background-size: 400px;
    width: 100%;
  }
  .contact {
    width: 85%;
  }
  .contact-text h1 {
    font-size: 40px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 990px) and (min-width: 768px) {
  #hero-slogan {
    flex-direction: column;
    height: 55rem;
    background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/1300wave.SVG");
  }
  .slogan {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .working {
    display: none;
  }
  #hero-slogan p {
    margin: 0 auto;
    text-align: center;
  }
  .btn-hero {
    margin: 20px auto;
  }
  #service-title {
    margin-top: 260px;
  }
  .programmer {
    width: 100%;
  }
  .services {
    width: 90%;
  }
  #catch-wrapper {
    flex-direction: column;
  }
  #catch-wrapper p {
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
  .catch-text {
    max-width: 50%;
  }
  .catch-text h1 {
    text-align: center;
  }
  .img-container {
    background-position: center;
    background-size: 400px;
    width: 100%;
  }
  .contact-text h1 {
    font-size: 40px;
  }
  .contact {
    width: 85%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1440px) and (min-width: 992px) {
  #hero-slogan {
    flex-direction: column;
    height: 55rem;
    background-image: url("https://aerglonus.github.io/Company-landing/resources/imgs/1300wave.SVG");
  }
  .slogan {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .working {
    display: none;
  }
  #hero-slogan p {
    margin: 0 auto;
    text-align: center;
  }
  .btn-hero {
    margin: 20px auto;
  }
  #service-title {
    margin-top: 260px;
  }
  .programmer {
    width: 100%;
  }
  .services {
    width: 90%;
  }
  #catch-wrapper {
    flex-direction: column;
  }
  #catch-wrapper p {
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }
  .catch-text {
    max-width: 50%;
  }
  .catch-text h1 {
    text-align: center;
  }
  .img-container {
    background-position: center;
    background-size: 400px;
    width: 100%;
  }

  .contact {
    width: 55%;
  }
}
